/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
    --white: #ffffff;
    --black: #000000;
    --products-black: #060002;
    --green: #69cf17;
    --green-75: rgba(106, 207, 23, 0.75);
    --green-dark: #4e9f0d;
    --gray: #7a7a7a;
    --gray-light: #dedede;

    --col-12: 100%;
    --col-11: calc(100% / 12 * 11);
    --col-10: calc(100% / 12 * 10);
    --col-9: calc(100% / 12 * 9);
    --col-8: calc(100% / 12 * 8);
    --col-7: calc(100% / 12 * 7);
    --col-6: calc(100% / 12 * 6);
    --col-5: calc(100% / 12 * 5);
    --col-4: calc(100% / 12 * 4);
    --col-3: calc(100% / 12 * 3);
    --col-2: calc(100% / 12 * 2);
    --col-1: calc(100% / 12 * 1);


    --Roboto: 'Roboto', sans-serif;
    --Raleway: 'Raleway', sans-serif;
}

.col {
    width: max-content;
}

.col-1 {
    width: var(--col-1);
    padding: 0 15px;
}

.col-2 {
    width: var(--col-2);
    padding: 0 15px;
}

.col-3 {
    width: var(--col-3);
    padding: 0 15px;
}

.col-4 {
    width: var(--col-4);
    padding: 0 15px;
}

.col-5 {
    width: var(--col-5);
    padding: 0 15px;
}

.col-6 {
    width: var(--col-6);
    padding: 0 15px;
}

.col-7 {
    width: var(--col-7);
    padding: 0 15px;
}

.col-8 {
    width: var(--col-8);
    padding: 0 15px;
}

.col-9 {
    width: var(--col-9);
    padding: 0 15px;
}

.col-10 {
    width: var(--col-10);
    padding: 0 15px;
}

.col-11 {
    width: var(--col-11);
    padding: 0 15px;
}

.col-12 {
    width: var(--col-12);
    padding: 0 15px;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.d-flex {
    display: flex;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */

.header {
    background: url('../img/header-bg.jpg') no-repeat center / cover fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    background: var(--green-dark);
    border: 3px solid var(--green);
    padding: 5px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
    line-height: 17px;
    display: inline-block;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
}

.nav__link {
    padding: 35px 10px;
    color: var(--green);
    display: flex;
    font-weight: 300;
    width: max-content;
}

.nav__link_1::after {
    content: '2';
    background: var(--white);
    color: var(--green);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: -3px;
    margin-left: 7px;
}

.nav__link:hover {
    background: var(--green-75);
    color: var(--white);
}

.header__text {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header__title {
    font-size: 72px;
    font-weight: 900;
    color: var(--green);
    text-transform: uppercase;
    line-height: 1;
}

.header__subtitle {
    color: var(--green);
    font-size: 36px;
    line-height: 1;
}

.header__description {
    font-size: 18px;
    color: var(--gray-light);
    margin: 35px 0 75px;
    line-height: 22px;
}

.header__price {
    font-size: 60px;
    font-weight: 100;
    color: var(--white);
    background: var(--green);
    padding: 25px 90px;
    width: max-content;
}

/* header end */

/* products */

.products {
    background: var(--products-black);
    padding: 55px 0 105px;
}

.products__list {
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
}

.products__link {
    margin-right: 45px;
    color: var(--gray);
    font-size: 20px;
    font-weight: 700;
}

.products__link:hover {
    color: var(--green);
}

.card {
    margin-bottom: 55px;
}

.card__title {
    color: var(--green);
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 20px;
}

.card__text {
    color: var(--gray-light);
    line-height: 1.5;
}

.card__price {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.card__price:hover .card__overlay {
    transform: translateY(0);
}

.card__price:hover::before {
    transform: translateY(110%);
}

.card__price::before {
    content: '14 500';
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 1px;
    background: var(--green-75);
    padding: 20px 60px;
    font-size: 24px;
    color: var(--gray-light);
    transition: 0.5s;
}

.card__overlay {
    width: 100%;
    height: 100%;
    background: var(--green-75);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--white);
    font-size: 24px;
    transform: translateY(-100%);
    transition: 0.5s;
}

/* products end */

/* recipe */

.recipe {
    background: url('../img/section_bg.jpg') no-repeat center / cover;
    padding: 50px 0 100px;
}

.section-title {
    font-weight: 700;
    color: var(--green);
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

.section-title_after::after {
    content: '';
    height: 1px;
    width: 200px;
    display: block;
    background: var(--green);
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

.section-title_margin {
    margin-bottom: 50px;
}

.recipe__text {
    font-size: 18px;
    color: var(--white);
    line-height: 1.333;
}  

.recipe__text:first-of-type {
    margin-bottom: 35px;
}

/* recipe end */

/* branches */

.branches {
    padding-top: 50px;
}

.branches__map {
    width: 100%;
    height: 500px;
    margin-bottom: -4px;
}

/* branches end */

/* footer */

.footer {
    padding: 40px 0 50px;
    background: var(--products-black);
}

.footer__mobile {
    font-weight: 700;
    font-size: 24px;
    color: var(--green);
    font-family: 'Roboto', sans-serif;
}

.footer__list{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.footer__link{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: var(--gray);
    white-space: nowrap;
}

.footer__link:hover{
    color: var(--white);
}

.footer__paragraph{
    color: var(--gray);
    text-align: center;
}

/* footer end */